.App {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block {
  width: 150px;
  height: 150px;
  background: #4aabc0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edf2f4;
  border-radius: 4px;
  font-size: 50px;
}
